<div>
  <h3>Tipo</h3>
  <table>
    <tr>
      <th>ID</th>
      <th>Descrição</th>
    </tr>
    <tr style="text-align: center;">
      <td></td>
      <td></td>
      <td>
        <button style="margin: 10px;">Editar</button>
      </td>
      <td>
        <button style="margin: 10px;">Excluir</button>
      </td>
    </tr>
  </table>
</div>

<div>
  <h3>Ordem</h3>
  <table>
    <tr>
      <th>ID</th>
      <th>Data</th>
      <th>Cliente</th>
      <th>Valor</th>
      <th>Descrição</th>
      <th>Status</th>
    </tr>
    <tr style="text-align: center;">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <button style="margin: 10px;">Editar</button>
      </td>
      <td>
        <button style="margin: 10px;">Excluir</button>
      </td>
    </tr>
  </table>
</div>
